<%= form_with(model: to_do) do |form| %>
  <% if to_do.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(to_do.errors.count, "error") %> prohibited this to_do from being saved:</h2>

      <ul>
        <% to_do.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :task %>
    <%= form.text_field :task, class: "form-control" %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.label :detail %>
    <%= form.text_area :detail, class: "form-control form-control-lg" %>
  </div>

  <div class="field form-group>
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :friend_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.label :due_date %><br>
    <%= form.date_select :due_date %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.label :due_time %> <br>
    <%= form.time_select :due_time %>
  </div>

  <br>

  <div class="field">
    <%= form.label :important %>
    <%= form.check_box :important %>
  </div>

  <div class="field">
    <%= form.label :repeat %>
    <%= form.check_box :repeat %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>

  <br>
<% end %>
