<% if user_signed_in? %>
  <h1>To Do List</h1>

  <table class="table table-lg table-hover">
    <thead class="table-dark">
      <tr>
        <th>Task</th>
        <th>Due date</th>
        <th>Due time</th>
        <th>Important</th>
        <th>Repeat</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @to_dos.each do |to_do| %>
        <% if to_do.user == current_user %>
          <tr>
            <td><%= link_to to_do.task, to_do %></td>
            <td><%= to_do.due_date %></td>
            <td><%= to_do.due_time %></td>
            <td><%= to_do.important %></td>
            <td><%= to_do.repeat %></td>
            <td><%= link_to 'Delete', to_do, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New To Do', new_to_do_path, type:"button", class: "btn btn-outline-dark" %>
<% else %>
  <h1>Hello Todo User!</h1>
  <p>This is my Todo App webpage!</p>
<% end %>

