<p id="notice"><%= notice %></p>

<h1>To Do List</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Detail</th>
      <th>Due date</th>
      <th>Due time</th>
      <th>Important</th>
      <th>Repeat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_dos.each do |to_do| %>
      <tr>
        <td><%= to_do.task %></td>
        <td><%= to_do.detail %></td>
        <td><%= to_do.due_date %></td>
        <td><%= to_do.due_time %></td>
        <td><%= to_do.important %></td>
        <td><%= to_do.repeat %></td>
        <td><%= link_to 'Show', to_do %></td>
        <td><%= link_to 'Edit', edit_to_do_path(to_do) %></td>
        <td><%= link_to 'Destroy', to_do, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New To Do', new_to_do_path %>
